@{
    ViewData["Title"] = "Produto não encontrado";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-info">Produto não encontrado :(</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="BuyChocolate" asp-action="Index">Voltar a comprar Kakauu</a>
    </div>
</div>
